# Dependencias y archivos de compilación
node_modules/
dist/
dist-ssr/
*.local

# Logs
logs/
*.log*

# Archivos de depuración de gestores de paquetes
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Archivos de editores y sistemas operativos
.vscode/
!.vscode/extensions.json  # Excepción: la configuración de extensiones se puede compartir
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?